__pycache__/
*.py[cod]
*$py.class
database/*.db
database/*.sqlite
venv/
.env
*.log
instance/
.idea/
.vscode/
*.pyc
env/
lib/
lib64/
parts/
sdist/
var/
wheels/
eggs/
*.egg-info/
dist/
build/
eggs/
*.egg-info/
pip-log.txt
.env
project/cache/
project/config/__init__.py
project/config/development.py
mode/
feature/**/*.pyc
mode/**/*.pyc
